<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <servlet>
   <servlet-name>transport</servlet-name>
   <servlet-class>com.staffTransport.TransportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>transport</servlet-name>
   <url-pattern>/transport</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>empInsert</servlet-name>
  	<servlet-class>com.staffTransport.EmpInsert</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>empInsert</servlet-name>
  	<url-pattern>/insert</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>updateTransport</servlet-name>
  	<servlet-class>com.staffTransport.UpdateTransportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateTransport</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deleteTransport</servlet-name>
  	<servlet-class>com.staffTransport.DeleteTransportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteTransport</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
</web-app>